<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>Sam Watts{% if page.title %} | {{ page.title }} {% endif %}</title>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta name="description" content="The personal website and portfolio of Samantha Watts." />
		<meta http-equiv="content-language" content="en" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/screen.css" />
		<link href='http://fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css' />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
		<script src="/js/jquery.color.plus-names.2.1.1.min.js" type="text/javascript"></script>	
		<!-- Add fancyBox -->
		<link rel="stylesheet" href="/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js?v=2.1.4"></script>

		<!-- Optionally add helpers - button, thumbnail and/or media -->
		<link rel="stylesheet" href="/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script type="text/javascript" src="/fancybox/helpers/jquery.fancybox-media.js?v=1.0.5"></script>

		<link rel="stylesheet" href="/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$("a.fancybox").fancybox();

				$("a.nounderline").hover(
				    function() {
					$(this).animate({ color: "#CF2127" }, 'fast');
				    },function() {
					$(this).animate({ color: "white" }, 'fast');
				    }
				);
			});

			// google analytics
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-39130001-1']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</head>
	<body>
		<div id="mainContainer">
			<div id="sidebar">
				<h1 class="name"><a class="nounderline" href="/">Samantha Watts</a></h1>
				<ul id="nav">
					<li><a class="nounderline" href="/about/">about</a></li>
					<li><a class="nounderline" href="/resume/">resume</a></li>
					<li><a class="nounderline" href="/contact/">contact</a></li>
				</ul>
			</div>
			<div id="content">
				{{ content }}
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<p class="footerText">This website uses <a href="http://jekyllrb.com/">Jekyll</a></p>
			<p class="footerText">Copyright &copy; 2013 Samantha Watts</p>
		</div>
	</body>
</html>
